:root {
  --color-orange: orange;
  --lin-gradient: linear-gradient(rgb(246, 246, 75), rgb(255, 166, 0));
  --view-btn: rgb(11, 23, 11);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.btn {
  background-image: var(--lin-gradient);
  color: white;
  padding: 10px 30px;
  border-radius: 20px;
  box-shadow: orange 0px 5px 30px 0px;
  border: none;
}

.btn:hover
{
  background-image: none;
  background-color: white;
  color: orange;
}


a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.container {
  width: 90%;
  margin: 0px auto;
  color: white;
}

.navbar {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: sticky; */
  /* top: 0; */
}

.nav-items > ul {
  display: flex;
  list-style: none;
}
.nav-links {
  margin: 0px 15px;
}

/* Home Section */
.home-section {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min-content;
  justify-items: center;
  align-items: center;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50vh;
}
.intro > h1,
.services-about > h1,
.interested-about > h1,
.portfolio-heading > h1,
.testimonial-heading > h1,
.contact-heading > h1 {
  font-size: 4rem;
}

.intro > h1 > span,
.services-about > h1 > span,
.interested-about > h1 > span,
.portfolio-heading > h1 > span,
.testimonial-heading > h1 > span,
.contact-heading > h1 > span {
  color: var(--color-orange);
}
.intro > p,
.services-about > p,
.interested-about > p,
.portfolio-heading > p,
.testimonial-heading > p,
.contact-heading > p {
  color: rgb(148, 147, 147);
}

.profile-image > img {
  height: 60vh;
  width: 50vh;
  border-radius: 50%;
}
.social-link {
  width: 100%;
  display: flex;
  justify-items: start;
}
.social-link > i {
  font-size: 2.5rem;
  display: block;
  margin: 0px 20px 5px;
  color: var(--color-orange);
}

/* Services Section */

.services {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.service-about-center {
  display: flex;
  align-items: center;
}
.services-about {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.service-cards {
  position: relative;
}
.service-card {
  position: absolute;
  color: black;
  height: 40vh;
  width: 22vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
#service-card-1 {
  top: 0;
  left: 30%;
}

#service-card-2 {
  top: 60%;
  left: -20%;
}
#service-card-3 {
  top: 50%;
  left: 40%;
}

.service-card-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30vh;
  width: 22vh;
  justify-content: space-around;
  border-radius: 10px;
}
.service-card-content > div {
  text-align: center;
}
.service-card-content > div > span {
  font-size: 3rem;
}
.learn-more-btn {
  background-color: white;
  color: rgb(88, 154, 176);
  padding: 10px 5px;
  border-radius: 5px;
}

/* Stats */
.stats {
  display: flex;
  width: 50vw;
  height: 50vh;
  margin: auto;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
.stat-indi {
  display: flex;
  height: 22vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.stat-count {
  font-size: 2rem;
  display: flex;
  width: 10vh;
  height: 10vh;
  background-color: white;
  color: var(--color-orange);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.stat-indi > p:last-child {
  color: var(--color-orange);
}

/* Interested Section */
.interested {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.interested-about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 55vh;
}

.brand-icons {
  position: relative;
  height: 25vw;
  width: 25vw;
  background-color: white;
  border-radius: 50%;
}
.brand-icon {
  position: absolute;
  height: 7vw;
  width: 7vw;
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid grey;
  border-radius: 50%;
  z-index: 1;
  box-shadow: grey 0px 0px 10px 1px;
}
#brand-icon-1 {
  background-image: url(./amazon-logo.png);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
#brand-icon-2 {
  background-image: url(./upwork-logo.png);
  top: -15%;
  right: 0;
  left: 0;
  margin: auto;
}
#brand-icon-3 {
  background-image: url(./shopify-logo.png);
  top: 0;
  bottom: 0;
  right: -15%;
  margin: auto;
}
#brand-icon-4 {
  background-image: url(./facebook-logo.png);
  bottom: -15%;
  right: 0;
  left: 0;
  margin: auto;
}
#brand-icon-5 {
  background-image: url(./fiverr-logo.png);
  top: 0;
  bottom: 0;
  left: -15%;
  margin: auto;
}
#blue-bg {
  position: absolute;
  height: 20vw;
  width: 20vw;
  background-color: blue;
  border-radius: 50%;
  top: -10%;
  right: -17%;
  z-index: -1;
}
#yellow-bg {
  position: absolute;
  height: 20vw;
  width: 20vw;
  background-color: yellow;
  border-radius: 50%;
  bottom: -10%;
  right: -17%;
  z-index: -1;
}

/* Portfolio Section */

.portfolio {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.portfolio-heading {
  text-align: center;
}

.project-cards {
  display: flex;
  flex-direction: row;
}
.card {
  background-color: rgb(22, 28, 22);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: calc(max(35vh, 100%) + 5vh);
  transition: transform 1s;
  border-radius: 15px;
  border-left: lightgray solid 1px;
  border-top: lightgray solid 1px;
  text-align: center;
}
.card:not(:last-child) {
  margin-right: 10px;
}

.card > p {
  margin: 0px 20px;
  text-align: center;
}
@keyframes translateUp {
  100% {
    transform: scaleX(1);
  }
}
.card:hover {
  /* animation: translateUp 1s ease; */
  transform: translate(0px, -10px);
}

.view-btn {
  background-color: var(--view-btn);
  color: white;
  box-shadow: rgb(110, 255, 0) -1px 1px 0px 1px;
  padding: 10px 25px;
  border-radius: 15px;
  border: none;
}
@keyframes btn {
  0% {
    box-shadow: rgb(110, 255, 0) -1px 1px 0px 1px;
  }
  100% {
    box-shadow: rgb(110, 255, 0) 1px -1px 0px 1px;
  }
}
.view-btn:hover {
  border: none;
  animation: btn 0.5s ease;
  animation-fill-mode: forwards;
}

/* Testimonial Section */

.testimonial {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.testimonial-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 5px solid white;
  border-radius: 15px;
  height: 35vh;
  width: 65vw;
  background-color: rgb(79, 81, 81);
  text-align: center;
}

.testimonial-card > div > img {
  height: 14vh;
  width: 16vh;
  border-radius: 50%;
}
.testimonial-card > p {
  color: var(--color-orange);
}
.testimonial-card > p > span {
  color: white;
}
.visit-btn {
  padding: 10px 20px;
  border-radius: 20px;
  border: solid 1px white;
}

/* contact */

.contact {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
/* .contact-form {
  width: 100%;
} */
.contact-form > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 50vh;
  margin: auto;
  justify-content: space-evenly;
}

.contact-form > form :not(:last-child) {
  width: 100%;
}

.contact-form > form > input,
textarea {
  padding: 15px 10px;
  border: var(--color-orange) solid 2px;
  border-radius: 10px;
}
.footer {
  background: url(./waves1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
}
footer {
  height: 30vh;
  background-color: #fcb900;
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
}
.footer-social-link > i {
  font-size: 3rem;
  margin: 30px 20px 0px;
}

@media screen and (max-width: 550px) {
  .container {
    width: 90%;
    margin: 0px auto;
    color: white;
  }

  .nav-items {
    display: none;
  }

  .home-section {
    height: 100vh;
    display: grid;
    /* grid-template-rows: 100vh 100vh 10vh; */
    grid-template-rows: 2fr 2fr 0.5fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
  .intro > h1,
  .services-about > h1,
  .interested-about > h1,
  .portfolio-heading > h1,
  .testimonial-heading > h1,
  .contact-heading > h1 {
    font-size: 3rem;
  }

  .intro > h1 > span,
  .services-about > h1 > span,
  .interested-about > h1 > span,
  .portfolio-heading > h1 > span,
  .testimonial-heading > h1 > span,
  .contact-heading > h1 > span {
    word-break: break-all;
  }

  .profile-image {
    width: 100%;
  }
  .profile-image > img {
    height: 35vh;
    width: 95%;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
  }
  .services {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
  .services-about {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .service-card-content > div {
    margin: 5px 10px;
  }

  .service-cards {
    height: 110vh;
    position: initial;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .service-card {
    position: initial;
    color: black;
    height: 33vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .service-card-content {
    width: 100%;
  }

  .stats {
    display: flex;
    width: 100%;
    height: 50vh;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }

  .interested {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }

  .brand-icons {
    width: 60vw;
    height: 60vw;
  }
  .brand-icon {
    width: 20vw;
    height: 20vw;
  }
  #blue-bg,
  #yellow-bg {
    width: 45vw;
    height: 45vw;
  }
  .service-cards {
    position: initial;
  }

  .portfolio {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
  .project-cards {
    display: flex;
    flex-direction: column;
  }

  .card:not(:last-child) {
    margin-right: auto;
  }
  .card {
    width: 30vh;
    margin: 20px auto;
    height: 33vh;
  }
  .testimonial {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
  .testimonial-heading > h1 > span {
    word-break: break-word;
  }
  .testimonial-card {
    width: 100%;
  }

  .contact {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
  .contact-form {
    width: 85%;
  }
  .contact-form > form {
    width: 90%;
  }

  footer {
    height: 20vh;
  }
}
